<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <th:block th:replace="~{fragments/report-actions :: report-modal}" />
    <title>Arena Of Music</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0 mt-5">
        <div class="container my-5">
            <div class="row align-items-start p-2 rounded ">

                <!-- Lista de amigos -->
                <div class="col-md-5 left-panel me-md-4 offset-md-3" id="leftPanel">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h2 class="fw-bold" th:text="${viewType == 'solicitudes' ? 'Solicitudes' : 'Amigos'}">
                            Amigos
                        </h2>
                    </div>

                    <!-- Barra de búsqueda -->
                    <div class="d-flex mb-3">
                        <div class="input-group">
                            <span class="input-group-text border-end-0">
                                <i class="bi bi-search"></i>
                            </span>
                            <input type="text" class="form-control border-start-0 shadow-none"
                                placeholder="Buscar amigos" id="friendSearch" />
                        </div>

                        <!-- Vista de amigos -->
                        <div class="ms-2" th:if="${viewType} == 'solicitudes'">
                            <a class="btn d-flex align-items-center justify-content-center border"
                                th:href="@{/amigos(view='amigos')}" style="width: 40px; height: 40px;">
                                <i class="bi bi-people-fill"></i>
                            </a>
                        </div>

                        <!-- Vista de solicitudes -->
                        <div class="ms-2" th:if="${viewType} == 'amigos'">
                            <a class="btn d-flex align-items-center justify-content-center position-relative border"
                                th:href="@{/amigos(view='solicitudes')}" style="width: 40px; height: 40px;">
                                <i class="bi bi-person-fill"></i>

                                <!-- Indicador de notificación -->
                                <span id="notificationIndicator"
                                    class="position-absolute bg-danger border border-light rounded-circle"
                                    style="width: 8px; height: 8px; top: 5px; left: 25px; display: none;">
                                </span>
                            </a>
                        </div>
                    </div>

                    <!-- Lista de amigos -->
                    <div th:if="${viewType} == 'amigos'">
                        <ul class="list-group mb-3" id="friendList"></ul>

                        <!-- Añadir amigos -->
                        <div class="d-grid">
                            <button class="btn border" data-bs-target="#addFriend" data-bs-toggle="modal">
                                <i class="bi bi-plus"></i> Añadir amigos
                            </button>
                        </div>
                    </div>

                    <!-- Lista de solicitudes -->
                    <div th:if="${viewType} == 'solicitudes'">
                        <ul class="list-group mb-3" id="requestList"></ul>
                    </div>
                </div>

                <!-- Perfil del usuario seleccionado -->
                <div class="col-md-6 right-panel ms-md-4" id="rightPanel" style="display: none;">
                    <div id="friendProfile"></div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addFriend" tabindex="-1" aria-labelledby="addFriendModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="addFriend">Añadir amigos</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form">
                            <label for="friendUsername" class="p-1">Introduce el nombre de usuario:</label>
                            <input type="text" class="form-control" id="friendUsername"
                                placeholder="Introduce el nombre de usuario">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success" onclick="addFriend();"
                            data-bs-dismiss="modal">Agregar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="blockFriend" tabindex="-1" aria-labelledby="blockFriendModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="blockFriendModalLabel">Bloquear Amigo</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>¿Seguro que deseas bloquear a este usuario?</p>
                        <input type="hidden" id="blockFriendUsername" />

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger" onclick="confirmBlockUser()"
                            data-bs-dismiss="modal">Bloquear</button>

                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="deleteFriend" tabindex="-1" aria-labelledby="deleteFriendModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteFriendLabel">Eliminar amigos</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>¿Seguro que deseas eliminar este amigo?</p>
                        <input type="hidden" id="deleteFriendUsername" />

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger" onclick="confirmDeleteFriend()"
                            data-bs-dismiss="modal">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />

    <script th:inline="javascript">
        // Acceder a perfil de un usuario
        function handleUser(event) {
            const li = event.target.closest("li");
            if (li) {
                const friendData = {
                    username: li.getAttribute("data-username"),
                    photoUrl: li.getAttribute("data-photourl") || "/img/default-profile.png",
                };
                loadFriendProfile(friendData);
            }
        }

        // Cargar lista de amigos o solicitudes
        function loadList(viewType) {
            const filters = { view: viewType, search: document.getElementById("friendSearch").value };

            go(config.rootUrl + "/amigos/list", "POST", filters)
                .then(data => {
                    if (viewType === 'solicitudes') {
                        handleFriendRequests(data.length);
                    }
                    let html = "";
                    data.forEach(item => {
                        if (viewType === 'amigos') {
                            html += `
                            <li class="list-group-item d-flex align-items-center border-0"
                                data-username="${item.username}"
                                data-photourl="${item.photoUrl}"
                                data-unread="${item.unread}"
                                onclick="handleUser(event)">

                                <!-- Foto de perfil -->
                                <img src="${item.photoUrl}" class="rounded-circle me-3" style="width: 55px; height: 55px; object-fit: cover;"/>
                                <div class="flex-grow-1">
                                    <div class="fw-semibold">${item.username}</div>
                                    <small class="text-muted">
                                        ${item.level} EXP
                                    </small>
                                    <small class="unread-badge fw-bold text-muted">
                                        ${item.unread > 0 ? '&middot; ' + item.unread + ' mensajes nuevos' : '&nbsp;'}
                                    </small>
                                </div>

                                <!-- Botón de acciones -->
                                <div class="dropdown">
                                    <button
                                        class="btn border-0" data-bs-toggle="dropdown"
                                        onclick="event.stopPropagation();">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </button>

                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <a
                                                class="dropdown-item small"
                                                style="cursor: pointer; user-select: none;"
                                                onclick="event.stopPropagation(); openChat('${item.username}')">
                                                <i class="bi bi-send me-3"></i>Enviar mensaje
                                            </a>
                                        </li>
                                        <li>
                                            <a
                                                class="dropdown-item small"
                                                style="cursor: pointer; user-select: none;"
                                                onclick="event.stopPropagation(); showDeleteFriendModal('${item.username}')">
                                                <i class="bi bi-person-x me-3"></i>Eliminar
                                            </a>
                                        </li>
                                        <li>
                                            <a
                                                class="dropdown-item text-danger small"
                                                style="cursor: pointer; user-select: none;"
                                                onclick="event.stopPropagation(); showBlockUserModal('${item.username}')">
                                                <i class="bi bi-ban me-3"></i>Bloquear y reportar
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        `;
                        }
                        else if (viewType === 'solicitudes') {
                            html += `
                            <li class="list-group-item d-flex align-items-center border-0"
                                data-username="${item.username}"
                                data-photourl="${item.photoUrl}"
                            >
                                <img src="${item.photoUrl}" class="rounded-circle me-3" style="width: 55px; height: 55px; object-fit: cover;"/>

                                <div>
                                    <div class="fw-semibold">${item.username}</div>
                                    <small class="text-muted">${item.level} EXP</small>
                                </div>

                                <div class="ms-auto">
                                    <button
                                        class="btn btn-accept fw-bold rounded-4 px-2 py-0 me-1 text-dark"
                                        onclick="event.stopPropagation(); acceptRequest('${item.username}')">
                                        <small>Aceptar</small>
                                    </button>
                                    <button
                                        class="btn btn-back fw-bold rounded-4 px-2 py-0 text-dark"
                                        onclick="event.stopPropagation(); rejectRequest('${item.username}')">
                                        <small>Rechazar</small>
                                    </button>
                                </div>
                            </li>
                        `;
                        }
                    });
                    if (viewType === 'amigos') {
                        const friendList = document.getElementById("friendList");
                        if (friendList) {
                            friendList.innerHTML = html;
                        }
                    }
                    else if (viewType === 'solicitudes') {
                        const requestList = document.getElementById("requestList");
                        if (requestList) {
                            requestList.innerHTML = html;
                        }
                    }
                })
                .catch(error => {
                    showErrorNotification("Error al cargar la lista de amigos y solicitudes", 'error');
                    console.error(error)
                });
        }

        const myName = /*[[${u.username}]]*/ "me";

        ws.subscribe("/user/queue/updates", (m) => {
            if (m.type !== "message") return;
            if (m.from === myName) return; // Ignorar mensajes enviados por mí

            const message = m.data;

            const li = document.querySelector(`li[data-username="${message.from}"]`);
            if (li) {
                const count = parseInt(li.dataset.unread || "0", 10);
                li.dataset.unread = count + 1;
                li.querySelector('.unread-badge').textContent = ` · ${count + 1} mensajes nuevos`;
            }
        });

        // Cargar el perfil de un amigo
        function loadFriendProfile(friendData) {
            // Desplazar el panel de amigos o solicitudes a la izquierda
            document.getElementById("leftPanel").classList.remove("offset-md-3");

            // Mostrar el panel de perfil del usuario seleccionado
            document.getElementById("rightPanel").style.display = 'block';

            go(config.rootUrl + "/amigos/profile", "POST", friendData)
                .then(data => {
                    let profileHtml = `
                    <!-- Perfil de usuario -->
                    <div class="d-flex align-items-between mb-5">
                        <img src="${data.photoUrl}" class="rounded me-3" style="width: 90px; height: 90px; object-fit: cover;"/>
                        <div>
                            <h3 class="fw-semibold mb-0">${data.username}</h3>
                            <h4 class="fs-4 text-muted mt-1">${data.level} EXP</h4>
                            <h5 class="fs-5 text-muted mt-1">${data.status}</h5>
                        </div>
                        <div class="d-flex justify-content-end align-items-center ms-auto">
                            <!-- Abrir Chat -->
                            <button
                                type="button"
                                class="m-1 btn d-flex align-items-center"
                                onclick="openChat('${data.username}')">
                                    <i class="bi bi-send" aria-hidden="true"></i>
                            </button>
                            <!-- Cerrar Perfil -->
                            <button
                                type="button"
                                class=" m-1 btn d-flex align-items-center"
                                onclick="hideFriendProfile()">
                                    <span class="btn-close" aria-hidden="true"></span>
                            </button>
                         </div>
                    </div>

                    <!-- Estadísticas del usuario -->
                    <div class="mb-5">
                        <div class="row text-center">
                            <div class="col">
                                <h5 class="mb-0 fw-bold">${data.wins}</h5>
                                <div class="text-muted mt-2">Victorias totales</div>
                            </div>

                            <div class="col">
                                <h5 class="mb-0 fw-bold">${data.averageScore}%</h5>
                                <div class="text-muted mt-2">Puntuación media</div>
                            </div>

                            <div class="col">
                                <h5 class="mb-0 fw-bold">${data.maxScore}%</h5>
                                <div class="text-muted mt-2">Máxima Puntuación</div>
                            </div>
                        </div>
                    </div>

                    <!-- Playlists favoritas
                    <h5 class="fw-bold mb-3">Playlists recientes</h5>
                    <ul class="list-group bg-transparent">> -->
                `;
                    data.recentPlaylists.forEach(playlist => {
                        profileHtml += `
                        <li class="list-group-item d-flex align-items-center border-0 bg-transparent mb-2">
                            <div class="me-3">
                                <div class="rounded" style="width: 50px; height: 50px; overflow: hidden;">
                                    <img src='/partida/playlist/${playlist.id}/cover' class="img-fluid"/>
                                </div>
                            </div>
                            <div>
                                <div class="fw-semibold">${playlist.title}</div>
                                <small class="text-muted">· ${playlist.description} ·</small>
                            </div>
                        </li>
                    `
                    });
                    profileHtml += '</ul>';
                    document.getElementById("friendProfile").innerHTML = profileHtml;
                })
                .catch(error => {
                    showErrorNotification("Error al cargar el perfil del amigo", 'error');
                    console.error(error)
                });
        }

        // Ocultar el perfil de un amigo
        function hideFriendProfile() {
            // Desplazar el panel de amigos o solicitudes al centro
            document.getElementById("leftPanel").classList.add("offset-md-3");

            // Ocultar el panel de perfil del usuario seleccionado
            document.getElementById("rightPanel").style.display = "none";
        }

        // Aceptar solicitud de amistad
        function acceptRequest(username) {
            go(config.rootUrl + "/amigos/request/accept", "POST", { username: username })
                .then(data => {
                    if (data.success) {
                        loadList('solicitudes');
                        showErrorNotification("Solicitud de amistad aceptada", 'success');
                    }
                })
                .catch(error => {
                    showErrorNotification("Error al aceptar la solicitud de amistad", 'error');
                    console.error(error);
                })
        };


        // Rechazar solicitud de amistadac
        function rejectRequest(username) {
            go(config.rootUrl + "/amigos/request/reject", "POST", { username: username })
                .then(data => {
                    if (data.success) {
                        showErrorNotification("Solicitud de amistad rechazada", 'success');
                        loadList('solicitudes');
                    }
                })
                .catch(error => {
                    showErrorNotification("Error al rechazar la solicitud de amistad", 'error');
                    console.error(error)
                });
        }

        // Abrir el panel de chat
        function openChat(username) {
            const li = document.querySelector(`li[data-username="${username}"]`);
            if (li) {
                li.dataset.unread = 0;
                li.querySelector(".unread-badge").textContent = "";
            }

            window.location.href = `${config.rootUrl}/chat/${username}`;
        }

        // Eliminar usuario de la lista de amigos
        function confirmDeleteFriend() {
            const username = document.getElementById("deleteFriendUsername").value;
            go(config.rootUrl + "/amigos/delete", "POST", { username: username })
                .then(data => {
                    if (data.success) {
                        loadList('amigos');
                        showErrorNotification("Usuario eliminado de la lista de amigos", 'success');
                    }
                })
                .catch(error => {
                    showErrorNotification("Error al eliminar el usuario de la lista de amigos", 'error');
                    console.error(error)
                });
        }

        // Bloquear y reportar usuario
        function confirmBlockUser() {
            const username = document.getElementById("blockFriendUsername").value;
            go(config.rootUrl + "/amigos/block", "POST", { username: username })
                .then(data => {
                    if (data.success) {
                        loadList('amigos');
                        loadList('solicitudes');
                        showErrorNotification("Usuario bloqueado", 'success');
                        document.getElementById("reportUsername").value = username;
                        document.getElementById("reportUserText").textContent = username;
                        new bootstrap.Modal(document.getElementById("reportModal")).show();
                    }
                })
                .catch(error => {
                    showErrorNotification("Error al bloquear al usuario", 'error');
                    console.error(error)
                });
        }

        // Añadir amigos
        function addFriend() {
            event.preventDefault();
            const username = document.getElementById("friendUsername").value.trim();

            if (username && username !== myName) {
                go(config.rootUrl + "/amigos/request/send", "POST", { username: username })
                    .then(data => {
                        if (data.success === "ok") {
                            loadList('amigos');
                            showErrorNotification("Solicitud de amistad enviada", 'success');
                        } else {
                            showErrorNotification(data.success, 'warning');
                        }
                    })
                    .catch(error => {
                        showErrorNotification("Error al enviar la solicitud de amistad", 'error');
                        console.error(error)
                    });
            } else if (username === myName) {
                showErrorNotification("No puedes añadirte a ti mismo como amigo", 'warning');
            } else {
                showErrorNotification("Por favor, introduce un nombre de usuario válido", 'warning');
            }
        }

        // Indicador de solicitudes pendientes
        function updateNotificationIndicator() {
            go(config.rootUrl + "/amigos/list", "POST", { view: "solicitudes", search: "" })
                .then(requests => {
                    const notificationIndicator = document.getElementById("notificationIndicator")
                    if (notificationIndicator) {
                        notificationIndicator.style.display = (requests.length > 0 ? "block" : "none");
                    }
                })
                .catch(error => console.error(error));
        }

        // Actualizar el estado
        function refresh(viewType) {
            fetch(config.rootUrl + "/amigos/updateStatus", {
                method: "POST",
                credentials: "same-origin",
                headers: {
                    "Content-Type": "application/json",
                    'X-CSRF-TOKEN': config.csrf.value
                }
            })
                .then(() => {
                    loadList(viewType);
                    updateNotificationIndicator();
                })
                .catch(error => {
                    showErrorNotification("Error al actualizar el estado de los amigos", 'error');
                    console.error(error)
                });
        }

        // Cargar la lista al cargar la página y filtrar búsqueda
        document.addEventListener("DOMContentLoaded", function () {
            const viewType = /*[[${viewType}]]*/ "amigos";
            refresh(viewType);

            setInterval(() => refresh(viewType), 10000);

            document.getElementById("friendSearch").addEventListener("input", function () {
                loadList(viewType);
            });

            const friendList = document.getElementById("friendList");
            const requestList = document.getElementById("requestList");

            if (friendList) {
                friendList.addEventListener("click", handleUser);
            }
            if (requestList) {
                requestList.addEventListener("click", handleUser);
            }
        });

        // Enviar el formulario de reporte
        document.getElementById("reportForm").addEventListener("submit", function (event) {
            event.preventDefault();

            const data = {
                reportedUsername: document.getElementById("reportUsername").value,
                reason: document.querySelector('input[name="reason"]:checked').value
            };

            go(config.rootUrl + "/amigos/report", "POST", data)
                .then(response => {
                    bootstrap.Modal.getInstance(document.getElementById("reportModal")).hide();
                    showErrorNotification("Reporte enviado con éxito", 'success');
                })
                .catch(error => {
                    showErrorNotification("Error al enviar el reporte", 'error');
                    console.error(error)
                });
        });

        // Actualizar la lista de amigos al volver a la página
        window.addEventListener('pageshow', () => refresh('amigos'));

        function showDeleteFriendModal(username) {
            document.getElementById("deleteFriendUsername").value = username;
            new bootstrap.Modal(document.getElementById("deleteFriend")).show();
        }

        function showBlockUserModal(username) {
            document.getElementById("blockFriendUsername").value = username;
            new bootstrap.Modal(document.getElementById("blockFriend")).show();
        }
    </script>
</body>

</html>