<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>Arena of Music</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0 mt-5">
        <div class="container my-5">
            <h2 class="fw-bold">Configuración de partida</h2>

            <div class="row align-items-start p-2">

                <!-- Selección de playlists -->
                <div class="col-md-5 left-panel me-md-4">
                    <h5 class="fw-semibold mt-4 fs-4">Selecciona una playlist</h5>

                    <!-- Lista de playlists disponibles -->
                    <div class="row row-cols-2 row-cols-md-3 gx-0 mt-3">
                        <div class="col" th:each="playlist : ${playlists}">
                            <input type="radio" class="btn-check playlist-radio" name="selectedPlaylist"
                                th:id="'playlist' + ${playlist.id}" th:value="${playlist.id}" autocomplete="off" />
                            <label
                                class="btn w-100 h-100 d-flex flex-column justify-content-center align-items-start rounded"
                                th:for="'playlist' + ${playlist.id}">
                                <img class="img-fluid rounded-3 mb-2 w-75" th:src="${playlist.image}" />
                                <span class="fw-semibold" th:text="${playlist.title}">Título</span>
                                <small class="text-muted small" th:text="'by ' + ${playlist.author}">Autor</small>
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Ajustes y modo de juego -->
                <div class="col-md-6 right-panel ms-md-4">

                    <!-- Ajustes de juego -->
                    <div class="mb-4">
                        <h5 class="fw-semibold mt-4 mb-3 fs-4">Ajustes de juego</h5>
                        <div class="mb-3">
                            <label for="rounds" class="form-label d-flex justify-content-between me-3">
                                <span>Número de rondas</span>
                                <span class="fw-bold fs-5" id="roundsValue">5</span>
                            </label>
                            <input type="range" class="form-range" id="rounds" name="rounds" min="5" max="25" step="1"
                                value="5" />
                        </div>
                        <div class="mb-3">
                            <label for="time" class="form-label d-flex justify-content-between me-3">
                                <span>Duración del fragmento (segundos)</span>
                                <span class="fw-bold fs-5" id="timeValue">5</span>
                            </label>
                            <input type="range" class="form-range" id="time" name="time" min="5" max="30" step="1"
                                value="5" />
                        </div>
                    </div>

                    <!-- Modo de juego -->
                    <div class="mb-4">
                        <h5 class="fw-semibold mb-3 fs-4">Modo de juego</h5>
                        <div class="row row-cols-1 row-cols-sm-3">
                            <div class="col">
                                <input type="radio" class="btn-check" name="mode" id="options" value="options" />
                                <label class="btn btn-outline-dark w-100 h-100 text-center p-3" for="options">
                                    <div><i class="bi bi-list-ul" style="font-size: 2rem;"></i></div>
                                    <div class="fw-semibold text-dark mt-1">Opciones múltiples</div>
                                    <small class="d-block text-muted mt-1">
                                        Elige entre 4 opciones posibles
                                    </small>
                                </label>
                            </div>
                            <div class="col">
                                <input type="radio" class="btn-check" name="mode" id="song" value="song" />
                                <label class="btn btn-outline-dark w-100 h-100 text-center p-3" for="song">
                                    <div><i class="bi bi-music-note-beamed" style="font-size: 2rem;"></i></div>
                                    <div class="fw-semibold text-dark mt-1">Adivina la canción</div>
                                    <small class="d-block text-muted mt-1">
                                        Escribe el nombre de la canción
                                    </small>
                                </label>
                            </div>
                            <div class="col">
                                <input type="radio" class="btn-check" name="mode" id="artist" value="artist" />
                                <label class="btn btn-outline-dark w-100 h-100 text-center p-3" for="artist">
                                    <div><i class="bi bi-person-fill" style="font-size: 2rem;"></i></div>
                                    <div class="fw-semibold text-dark mt-1">Adivina el artista</div>
                                    <small class="d-block text-muted mt-1">
                                        Escribe el nombre del artista de la canción
                                    </small>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Botones de volver e iniciar partida -->
            <div class="row mt-4">
                <!-- Volver -->
                <div class="col-md-6 text-start">
                    <a class="btn btn-back fw-bold ms-3 rounded-4 text-dark" style="width: 220px;" th:href="@{/}">
                        Volver
                    </a>
                </div>

                <!-- Iniciar partida -->
                <div class="col-md-6 text-end">
                    <a class="btn btn-accept fw-bold rounded-4 text-dark" style="margin-right: 4.5rem; width: 220px;"
                        th:href="@{/sala-espera}">
                        Iniciar
                    </a>
                </div>
            </div>
        </div>
    </main>
    <script>
        // Mostrar valores dinámicamente
        const roundsInput = document.getElementById("rounds");
        const roundsValue = document.getElementById("roundsValue");
        roundsInput.addEventListener("input", () => roundsValue.textContent = roundsInput.value);

        const timeInput = document.getElementById("time");
        const timeValue = document.getElementById("timeValue");
        timeInput.addEventListener("input", () => timeValue.textContent = timeInput.value);
    </script>
    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>