<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>Arena of Music</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <!-- <style>
        /* Borde negro más visible para el botón seleccionado */
        .btn-check:checked+.btn {
            border: 15px solid #000 !important;
            box-shadow: 0 0 0 0.15rem #0002;
        }
    </style> -->
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>
    <main class="flex-shrink-0">
        <div class="container mt-5">
            <h2 class="fw-bold">Configuración de partida</h2>
            <form method="POST" action="/partida/crear-partida" id="formCrearPartida">

                <div class="row d-flex justify-content-between p-2">
                    <!-- Selección de playlists y jugadores-->
                    <div class="col-md-5 left-panel me-md-4">
                        <div class="row">
                            <div class="col-12">
                                <h5 class="fw-semibold mt-4 fs-4">Selecciona una playlist</h5>

                                <!-- Lista de playlists disponibles -->
                                <div class="row row-cols-2 row-cols-md-3 gx-0 mt-3 align-items-start">
                                    <div class="col d-flex text-center justify-content-center"
                                        th:each="playlist : ${playlists}">
                                        <input type="radio" class="btn-check playlist-radio" name="selectedPlaylist"
                                            th:id="'playlist' + ${playlist.id}" th:value="${playlist.id}"
                                            autocomplete="off" />
                                        <label
                                            class="btn d-flex flex-column justify-content-center align-items-start rounded"
                                            th:for="'playlist' + ${playlist.id}">
                                            <img class="img-fluid img-fluid rounded-3 mb-2"
                                                th:src="@{/img/default-profile.png}" />
                                            <span class="fw-semibold" th:text="${playlist.name}">Título</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <!-- <h5 class="fw-semibold mt-4 fs-4">Selecciona el Máximo de Jugadores</h5> -->
                                <label for="maxPlayers" class="form-label d-flex justify-content-between me-3">
                                    <h5 class="fw-semibold mt-4 fs-4"> Número Máximo de Jugadores</h5>
                                    <h5 class="fw-semibold mt-4 fs-4" id="maxPlayersValue">[[${modo} == 'solo' ? 1 : (${modo}
                                        =='duel' ? 2 : 4)]]</h5>
                                </label>

                                <input type="text" class="form-text" id="maxPlayers" name="maxPlayers"
                                    th:value="${modo} == 'solo' ? 1 : (${modo} == 'duel' ? 2 : 4)"
                                    style="display: none;" />
                            </div>

                        </div>
                    </div>


                    <!-- Ajustes y modo de juego -->
                    <div class="col-md-6 right-panel justify-content-end ms-md-4">

                        <!-- Ajustes de juego -->
                        <div class="mb-4">
                            <h5 class="fw-semibold mt-4 mb-3 fs-4">Ajustes de juego</h5>
                            <div class="mb-3">
                                <label for="rounds" class="form-label d-flex justify-content-between me-3">
                                    <span>Número de rondas</span>
                                    <span class="fw-bold fs-5" id="roundsValue">5</span>
                                </label>
                                <input type="range" class="form-range" id="rounds" name="rounds" min="1" max="15"
                                    step="1" value="5" />
                            </div>
                            <div class="mb-3">
                                <label for="time" class="form-label d-flex justify-content-between me-3">
                                    <span>Duración del fragmento (segundos)</span>
                                    <span class="fw-bold fs-5" id="timeValue">5</span>
                                </label>
                                <input type="range" class="form-range" id="time" name="time" min="1" max="30" step="1"
                                    value="5" />
                            </div>
                        </div>

                        <!-- Modo de juego -->
                        <div class="mb-4">
                            <h5 class="fw-semibold mb-3 fs-4">Modo de juego</h5>
                            <div class="row row-cols-1 row-cols-sm-3">
                                <div class="col">
                                    <input type="radio" class="btn-check" name="mode" id="options" value="options" />
                                    <label class="btn btn-outline-dark w-100 h-100 text-center p-3" for="options">
                                        <div><i class="bi bi-list-ul" style="font-size: 2rem;"></i></div>
                                        <div class="fw-semibold text-dark mt-1">Opciones múltiples</div>
                                        <small class="d-block mt-1">
                                            Elige entre 4 opciones posibles
                                        </small>
                                    </label>
                                </div>
                                <div class="col">
                                    <input type="radio" class="btn-check" name="mode" id="song" value="song" />
                                    <label class="btn btn-outline-dark w-100 h-100 text-center p-3" for="song">
                                        <div><i class="bi bi-music-note-beamed" style="font-size: 2rem;"></i></div>
                                        <div class="fw-semibold text-dark mt-1">Adivina la canción</div>
                                        <small class="d-block mt-1">
                                            Escribe el nombre de la canción
                                        </small>

                                    </label>
                                </div>
                                <div class="col">
                                    <input type="radio" class="btn-check" name="mode" id="artist" value="artist"
                                        disabled />
                                    <label class="btn btn-outline-dark w-100 h-100 text-center p-3" for="artist">
                                        <div><i class="bi bi-person-fill" style="font-size: 2rem;"></i></div>
                                        <div class="fw-semibold text-dark mt-1">Adivina el artista</div>
                                        <small class="d-block mt-1">
                                            Escribe el nombre del artista de la canción
                                        </small>
                                        <small><i>Proximamente...</i></small>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- Botones de volver e iniciar partida -->
                <div class="row my-4 d-flex justify-content-between">
                    <!-- Volver -->
                    <div class="col-6 text-start">
                        <a class="btn btn-back fw-bold ms-3 rounded-4 text-dark" style="width: 220px;" th:href="@{/}">
                            Volver
                        </a>
                    </div>

                    <!-- Iniciar partida -->
                    <div class="col-6 d-flex justify-content-end">
                        <button id="buttonCrear" class="btn btn-accept fw-bold rounded-4 text-dark"
                            style="width: 220px;" type="submit">
                            Iniciar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <script>
        // Mostrar valores dinámicamente
        const maxPlayersInput = document.getElementById("maxPlayers");
        const maxPlayersValue = document.getElementById("maxPlayersValue");
        maxPlayersInput.addEventListener("input", () => maxPlayersValue.textContent = maxPlayersInput.value);

        const rondasInput = document.getElementById("rounds");
        const rondasValue = document.getElementById("roundsValue");
        rondasInput.addEventListener("input", () => rondasValue.textContent = rondasInput.value);

        const tiempoInput = document.getElementById("time");
        const tiempoValue = document.getElementById("timeValue");
        tiempoInput.addEventListener("input", () => tiempoValue.textContent = tiempoInput.value);
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const playlists = document.querySelectorAll('.playlist-radio');

            playlists.forEach(radio => {
                const img = radio.nextElementSibling.querySelector('img');
                const playlistId = radio.value;

                fetch(`/partida/playlist/${playlistId}/cover`)
                    .then(response => {
                        if (!response.ok) throw new Error('Error al cargar imagen');
                        return response.blob();
                    })
                    .then(blob => {
                        const imageUrl = URL.createObjectURL(blob);
                        img.src = imageUrl;
                    })
                    .catch(error => {
                        console.error('Error obteniendo carátula:', error);
                        img.src = '/img/default-profile.png'; // Imagen por defecto en caso de error
                    });
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            const form = document.getElementById('formCrearPartida');

            form.addEventListener('submit', function (event) {
                event.preventDefault();

                // Obtenemos los valores del formulario
                const selectedPlaylistInput = document.querySelector('input[name="selectedPlaylist"]:checked');
                const modeInput = document.querySelector('input[name="mode"]:checked');

                const playlistId = selectedPlaylistInput ? selectedPlaylistInput.value : null;
                const maxPlayers = document.getElementById('maxPlayers').value;
                const rondas = document.getElementById('rounds').value;
                const tiempo = document.getElementById('time').value;
                const modoJuego = modeInput ? modeInput.value : null;

                // Validaciones
                if (!playlistId || !maxPlayers || !rondas || !tiempo || !modoJuego) {
                    showErrorNotification('Por favor, completa todos los campos.', 'warning');
                    return;
                }

                if (isNaN(maxPlayers) || isNaN(rondas) || isNaN(tiempo) || rondas <= 0 || tiempo <= 0) {
                    alert('Las rondas y el tiempo deben ser números positivos.');
                    return;
                }

                // Obtener el token CSRF
                const csrfToken = config.csrf.value;

                // Crear la petición
                const formData = new URLSearchParams();
                formData.append('playlistId', playlistId);
                formData.append('rondas', rondas);
                formData.append('tiempo', tiempo);
                formData.append('modoJuego', modoJuego);
                formData.append('maxPlayers', maxPlayers);

                fetch('/partida/crear-partida', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-CSRF-TOKEN': csrfToken
                    },
                    body: formData
                }).then(response => {
                    if (response.redirected) {
                        window.location.href = response.url;
                    }
                }).catch(error => {
                    console.error('Error al crear la partida:', error);
                    alert('Hubo un error al crear la partida. Intenta nuevamente.');
                });
            });
        });

    </script>

    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>