<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>Perfil de Usuario</title>
</head>

<body class="d-flex flex-column h-100 bg-light">

    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        <!-- Perfil -->
        <div class="container mt-5">
            <div class="card profile-card mx-auto shadow-lg">
                <div class="card-header text-center bg-success text-white position-relative">
                    <img th:src="@{/img/default-profile.png}"
                        class="rounded-circle border border-3 border-white mt-3 profile-image" alt="Foto de Perfil">
                    <h3 class="mt-3" th:text="${u.username}">Nombre Usuario</h3>
                    <!-- <span class="badge bg-light text-success position-absolute top-0 end-0 m-3 shadow-sm">Online</span> -->
                </div>
                <div class="card-body text-center">
                    <p class="text-muted" th:text="${u.email}">profil@ucm.es</p>
                    <p class="text-secondary" th:text="${u.description}">"Descripción"</p>
                    <a href="#" class="btn btn-outline-success btn-sm" data-bs-toggle="modal"
                        data-bs-target="#editProfileModal">Editar
                        Perfil</a>
                </div>
            </div>
        </div>

        <!-- Mis Objetos -->
        <div class="container mt-5">
            <h2 class="text-center mb-4 text-success bg-light p-2 rounded">Mis Objetos</h2>

            <span th:if="${#lists.isEmpty(objects)}" class="text-muted text-center">No tienes objetos.</span>
            <div class="row justify-content-center g-4">
                <div th:each="obj : ${objects}" class="col-md-4 col-sm-6">
                    <th:block
                        th:replace="~{fragments/object :: object-card(${obj.imageUrl}, ${obj.name}, ${obj.description})}" />
                </div>
            </div>
        </div>


        <!-- Estadísticas -->
        <div class="container mt-5">
            <h2 class="text-center mb-4 text-success  bg-light p-2 rounded">Estadísticas</h2>
            <div class="row justify-content-center">
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card stats-card text-center shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Victorias</h5>
                            <p class="display-4 text-success">25</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card stats-card text-center shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Derrotas</h5>
                            <p class="display-4 text-danger ">10</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card stats-card text-center shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Empates</h5>
                            <p class="display-4 text-warning">5</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Historial de Partidas -->
        <div class="container mt-5">
            <h2 class="text-center mb-4 text-success bg-light p-2 rounded">Historial de Partidas</h2>
            <ul class="list-group">
                <li th:each="match : ${matches}"
                    class="list-group-item d-flex justify-content-between align-items-center">
                    <span th:text="${match.opponent}">Partida contra ...</span>
                    <span th:classappend="
                    ${match.result} == 1 ? 'bg-success' :
                    (${match.result} == 0 ? 'bg-danger' : 'bg-warning')
                " class="badge rounded-pill"
                        th:text=" ${match.result} == 1 ? 'Victorias' : (${match.result} == 0 ? 'Derrotas' : 'Empates') ">Resultado</span>
                </li>
            </ul>
        </div>


        <!-- Edit Profile Modal -->
        <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <h5 class="modal-title text-success" id="editProfileModalLabel">Editar Perfil</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="edit-profile-form">
                            <div id="edit-profile-alert" class="alert d-none" role="alert"></div>

                            <div class="mb-3">
                                <label for="username" class="form-label text-success">Nombre de Usuario</label>
                                <input type="text" class="form-control" id="username" name="username"
                                    placeholder="Nombre Usuario" th:value="${u.username}">
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label text-success">Descripción</label>
                                <textarea class="form-control" id="description" name="description" rows="3"
                                    placeholder="Descripción..." th:text="${u.description}"></textarea>
                            </div>
                            <hr class="text-muted">
                            <div class="mb-3">
                                <label for="email" class="form-label text-success">Correo Electrónico</label>
                                <input type="email" class="form-control" id="email" name="email"
                                    placeholder="ejemplo@correo.com" th:value="${u.email}">
                            </div>
                            <div class="mb-3">
                                <label for="old-password" class="form-label text-success">Vieja Contraseña</label>
                                <input type="password" class="form-control" id="old-password" name="oldPassword"
                                    placeholder="********">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label text-success">Nueva Contraseña</label>
                                <input type="password" class="form-control" id="password" name="password"
                                    placeholder="********">
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer border-0">
                        <button type="button" class="btn btn-outline-secondary"
                            data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success">Guardar Cambios</button>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const form = document.getElementById("edit-profile-form");
        const saveBtn = document.querySelector("#editProfileModal .btn-success");
        const alertBox = document.getElementById("edit-profile-alert");

        saveBtn.addEventListener("click", async () => {
            const data = {
                username: form.username.value,
                email: form.email.value,
                description: form.description.value,
                oldPassword: form.oldPassword.value,
                password: form.password.value
            };

            try {
                const response = await go("/perfil/editar", "POST", data);
                alertBox.className = "alert alert-success";
                alertBox.textContent = response.message;
                alertBox.classList.remove("d-none");

                // setTimeout(() => {
                //     location.reload();
                // }, 1000);
            } catch (err) {
                alertBox.className = "alert alert-danger";
                alertBox.textContent = err.text || "Error inesperado.";
                alertBox.classList.remove("d-none");
            }
        });
    });
</script>

</html>